.error-section{
    text-align: center;
}

button{
    text-decoration: none;
    color: #000;
    height: 50px;
    width: 240px;
    border: 2px groove rgba(122, 126, 125, 0.373);
    border-radius: 10px;
    box-shadow: 0px 6px 6px rgb(0, 51, 255);
    background-color: rgb(250, 171, 0);
    color: rgb(0, 0, 0);
}

button:hover {
 background-color:  rgb(92, 11, 130);
box-shadow: 0px 6px 6px rgb(242, 0, 250);
color: whitesmoke;
}

h3{
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 600;
    margin-top: 0;
    color: rgba(5, 56, 132, 0.997);
    box-shadow: 0px 5px 5px rgb(238, 56, 10);
    height: 60px;
    width: 1100px;
    margin-left: 13%;
    border-top: 2px solid rgba(131, 208, 232, 0.966);
    border-left: none;
    border-right: none;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(230, 230, 230, 0.932);
}

h3:hover{
    box-shadow: 0px 5px 5px  rgb(33, 238, 10);
}